#form{
	width: 300px;
	margin: 100px auto;
}

#number{
	width:100%;
}

#calculate{
	display: block;
	margin: 20px auto;
}

#res{
	padding-left: 10px;	
    display: inline-block;
	width: 40px;
}

.text{    
	border-bottom: 1px solid #992223;
}