body{
    margin:0;
    background:url("images/background.png");
}

.wrapper{
    width:517px;
    height:auto;
    display:inline-block;
    background:#ffffff;
    margin:100px 0 0 450px;
    border-radius:4px;
    border:1px solid #eaeaea;
    box-shadow:0 0 2px #e2e2e2;
    -ms-box-shadow:0 0 2px #e2e2e2;
    -moz-box-shadow:0 0 2px #e2e2e2;
    -o-box-shadow:0 0 2px #e2e2e2;
    -webkit-box-shadow:0 0 2px #e2e2e2;
}
.top-wrapper{
    box-sizing: border-box;
    border-radius:4px 4px 0 0;
    width:517px;
    height:70px;
    padding:15px;
    background:-webkit-linear-gradient(top,#fafafa,#f5f5f5);
    background:-moz-linear-gradient(top,#fafafa,#f5f5f5);
    background:-o-linear-gradient(top,#fafafa,#f5f5f5);
    background:-ms-linear-gradient(top,#fafafa,#f5f5f5);
    border-bottom:1px solid #e6e6e6;
    box-shadow:0 0 2px #e2e2e2, inset 0 1px 0 #fff;
    -o-box-shadow:0 0 2px #e2e2e2, inset 0 1px 0 #fff;
    -ms-box-shadow:0 0 2px #e2e2e2, inset 0 1px 0 #fff;
    -moz-box-shadow:0 0 2px #e2e2e2, inset 0 1px 0 #fff;
    -webkit-box-shadow:0 0 2px #e2e2e2, inset 0 1px 0 #fff;
}
.avatar{
    width:40px;
    height:40px;
    background: url("images/avatar.png");
    box-shadow:inset 0 1px 1px #b4b4b4;
    -o-box-shadow:inset 0 1px 1px #b4b4b4;
    -moz-box-shadow:inset 0 1px 1px #b4b4b4;
    -ms-box-shadow:inset 0 1px 1px #b4b4b4;
    -webkit-box-shadow:inset 0 1px 1px #b4b4b4;
    float:left;
    border-radius:2px;
}


.name{
    font-family:arial;
    font-size:16px;
    float:left;
    font-weight:bold;
    margin-left:12px;
    margin-top:-1px;
}
.subname{
    color: #7b7b7b;
    font-style: italic;
    font-size: 14px;
    float:left;
    font-family:arial;
    margin-left:12px;
    margin-top:4px;
}

.message{
    border:1px solid #d8d7d7;
    outline: none;
    border-radius:2px;
    background:url("images/Message.png");
    float:right;
    width:40px;
    height:32px;
    margin-top: -16px;
}

.messimg{
    background:url("images/Message.png");
    width:18px;
    height:12px;
}

.message:hover {
    background:url("images/message-hover.png");
    cursor:pointer;
}
.message:active{
    cursor:pointer;
    box-shadow:inset 0 1px 1px #b4b4b4;
    -o-box-shadow:inset 0 1px 1px #b4b4b4;
    -moz-box-shadow:inset 0 1px 1px #b4b4b4;
    -webkit-box-shadow:inset 0 1px 1px #b4b4b4;
    -ms-box-shadow:inset 0 1px 1px #b4b4b4;
}
.follow{
    border:1px solid #5a8197;
    border-radius:2px;
    background:-webkit-linear-gradient(top,#628ca3,#4d7a93);
    background:-o-linear-gradient(top,#628ca3,#4d7a93);
    background:-moz-linear-gradient(top,#628ca3,#4d7a93);
    background:-ms-linear-gradient(top,#628ca3,#4d7a93);
    box-shadow:inset 0 1px 0 #779db0;
    -webkit-box-shadow:inset 0 1px 0 #779db0;
    -o-box-shadow:inset 0 1px 0 #779db0;
    -moz-box-shadow:inset 0 1px 0 #779db0;
    -ms-box-shadow:inset 0 1px 0 #779db0;
    float:right;
    margin-top: -16px;
    margin-left:10px;
}

.follow:active{
    cursor:pointer;
    box-shadow:inset 0 1px 1px #4d7a93;
    -o-box-shadow:inset 0 1px 1px #4d7a93;
    -moz-box-shadow:inset 0 1px 1px #4d7a93;
    -webkit-box-shadow:inset 0 1px 1px #4d7a93;
    -ms-box-shadow:inset 0 1px 1px #4d7a93;
}
.followplus{
    border-right:1px solid #416982;
    padding: 5px 10px 1px 10px;
    color:white;
    text-shadow:0 1px 0 #2b526c;
    float:left;
    font-family:arial;
    font-weight:bold;
    font-size:20px;
}
.followtext{
    float:right;
    color:white;
    text-shadow:0 1px 0 #2b526c;
    font-family:arial;
    font-weight:bold;
    font-size:14px;
    padding: 8px 10px 8px 10px;
    border-left:1px solid #7097ac;
}
.follow:hover{
    cursor:pointer;
    background:-webkit-linear-gradient(bottom,#628ca3,#4d7a93);
    background:-o-linear-gradient(bottom,#628ca3,#4d7a93);
    background:-moz-linear-gradient(bottom,#628ca3,#4d7a93);
    background:-ms-linear-gradient(bottom,#628ca3,#4d7a93);
}
.img-main{
    border:1px solid #ececec;
    border-radius:2px;
    box-shadow:0 0 4px #e2e2e2;
    -o-box-shadow:0 0 4px #e2e2e2;
    -moz-box-shadow:0 0 4px #e2e2e2;
    -ms-box-shadow:0 0 4px #e2e2e2;
    -webkit-box-shadow:0 0 4px #e2e2e2;
    padding:4px 4px 4px 4px;
    background:#fff;
    float:left;
    margin:22px 20px 17px 14px;
    position:relative;
    z-index:2;
}
.img-picture{
    background:url("images/Cat.png");
    width:102px;
    height:73px;
}
.view{
    background:url("images/top.png");
    width:27px ;
    height:13px;
    margin-top: -10px;
    margin-left: 40px;
    position: absolute;
    opacity: 0.7;
}

.zoom{
    border-radius: 50%;
    outline: none;
    background:url("images/Zoom.png");
    box-shadow:0 0 4px #e2e2e2;
    -o-box-shadow:0 0 4px #e2e2e2;
    -moz-box-shadow:0 0 4px #e2e2e2;
    -ms-box-shadow:0 0 4px #e2e2e2;
    -webkit-box-shadow:0 0 4px #e2e2e2;
    box-shadow:inset 0 0 4px #e2e2e2;
    -o-box-shadow:inset 0 0 4px #e2e2e2;
    -moz-box-shadow: inset 0 0 4px #e2e2e2;
    -ms-box-shadow:inset 0 0 4px #e2e2e2;
    -webkit-box-shadow:inset 0 0 4px #e2e2e2;
    width:24px;
    height:24px;
    position:absolute;
    margin: 23px 0 23px 40px;
    opacity:0;
}
.bodytitle{
    color:#ababab;
    font-family:arial;
    font-size:10px;
    font-weight:bold;
    float:left;
    margin-top: 25px;
}
.bodytext{
    color:#000;
    text-shadow:1px 0 #bfbfbf;
    font-family:arial;
    font-size:14px;
    float:left;
    margin-top: 13px;
}
.share{
    float:right;
    background:url("images/share.png");
    width:32px;
    height:27px;
    margin-top: -10px;
    margin-right: 17px;
}
.share:hover{
    background:url("images/share-hover.png");
    cursor:pointer;
}
.info{
    border-top:1px solid #e6e6e6;
    padding:15px 0 11px 0;
    color:#c6c6c6;
    font-family:arial;
    font-weight:bold;
    font-style: italic;
    font-size:11px;
    float:left;
    width:371px;
    margin-top:17px;
}
.posted{
    background:url("images/Posted.png");
    width:11px;
    height:15px;
    float:left;
    margin-top:-2px;
    margin-right:6px;
}
.time{
    background:url("images/time.png");
    width:12px;
    height:12px;
    float:left;
    margin-top: -1px;
    margin-right:5px;
    margin-left:10px;
}
.fltxt{
    float:left;
}
.comm{
    color:#797979;
    font-family:arial;
    font-size:11px;
    font-style:normal;
    font-weight:normal;
}
.commimg{
    background:url("images/comm.png");
    width:16px;
    height:14px;
    float:left;
    margin-left: 23px;
    margin-right: 8px;
}
a:hover{
    color:#646464 !important;
}


.img-picture:hover .zoom{
    cursor:pointer;
    opacity:0.7;
}
.img-shadow-left{
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(6deg);
    box-shadow: 0 2px 6px black;
    -o-box-shadow: 0 2px 6px black;
    -moz-box-shadow: 0 2px 6px black;
    -webkit-box-shadow: 0 2px 6px black;
    -ms-box-shadow: 0 2px 6px black;
    height:1px;
    width:100px;
    z-index:1;
    background: transparent;
    position: absolute;
    margin-top: 100px;
    margin-left: 25px;
}
.img-shadow-right{
    -moz-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-6deg);
    box-shadow: 0 2px 6px black;
    -o-box-shadow: 0 2px 6px black;
    -moz-box-shadow: 0 2px 6px black;
    -webkit-box-shadow: 0 2px 6px black;
    -ms-box-shadow: 0 2px 6px black;
    height:1px;
    width:100px;
    z-index:1;
    background: transparent;
    position: absolute;
    margin-top: 100px;
    margin-left: 17px;
}